{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
{% if sent %}
<div class="container mt-5">
    <h4 class="text-center mb-3 font-italic">Редактирование данных успешно сохранено!</h4>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 mb-5">
            <button class="btn w-100">
                <a href="{% url 'auth:edit' object.pk %}" class="">
                    продолжить редактирование
                </a>
            </button>
            <button class="btn w-100">
                <a href="{% url 'main' %}" class="">на главную</a>
            </button>
        </div>
    </div>
</div>
{% else %}
<div class="container mt-5">
    <h4 class="text-center mb-3 font-italic">Редактирование данных пользователя {{ object.user.username }}
        ({{ object.company_name }})</h4>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 mb-5">
            <form class="form-horizontal w-100" action="{% url 'auth:edit' object.pk %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {{ edit_form.as_p }}
                {{ form.as_p }}
                <input class="form-control btn btn-outline-primary" type="submit" value="сохранить">
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
