{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h1 class="font-italic mb-4 text-center">Личный кабинет: {{ user.first_name }}
        {{ user.last_name }} {{ user.seeker.patronimyc }}
    </h1>
    <div class="row">
        <div class="col">
            <p>Здесь будет размещен весь контент личного кабинета</p>
            <p>Создание резюме. При создании будет уведомление что резюме отправлено
                модератору портала на согласование. После согласования резюме соискателя будет
                опубликована модератором. Соискателю придет сообщение в личный кабинет, что
                резюме успешно размещено на портале.</p>
            <p>Сохранение черновика резюме</p>
            <p>Просмотр опубликованных резюме</p>
            <p>Редактирование и удаление резюме</p>
            <p>Чтение сообщений от администратора</p>
            <p>Просмотр избранных вакансий</p>
            <p>Возможность направить отклик избранным вакансиям</p>
            <p></p>
        </div>
    </div>
</div>
{% endblock %}