{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h1 class="font-italic mb-4 text-center">Личный кабинет: {{ user.employer.company_name }} </h1>
    <div class="row">
        <div class="col">
            <p>Здесь будет размещен весь контент личного кабинета</p>
            <p>Создание вакансий. При создании будет создано уведомление, что вакансия отправлена
                модератору портала на согласование. После согласования вакансия будет
                опубликована модератором. Работодателю придет сообщение в личный кабинет, что
                вакансия успешно размещена на портале.</p>
            <p>Сохранение черновика резюме</p>
            <p>Просмотр опубликованных вакансий</p>
            <p>Редактирование и удаление вакансий</p>
            <p>Чтение сообщений от администратора</p>
            <p>Просмотр избранных резюме</p>
            <p>Возможность направить отклик избранным резюме</p>
            <p></p>
        </div>
    </div>
</div>
{% endblock %}