{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h3 class="font-italic text-center mb-5">Результаты поиска</h3>
    {% if object_list %}
    <p class="mb-3"><a class="h5" href="{% url 'main' %}">&laquo вернуться к поиску</a></p>
        {% for item in object_list %}
        {% if item.seeker.photo %}
        <div class="row">
            <div class="col-3 col-md-2">
                <img class="card-img" src="/media/{{ item.seeker.photo }}" alt="">
            </div>
            <div class="col-9 col-md-10">
            <div class="d-flex">
                <h4 style="color: blue;"><a href="{% url 'worker:seeker_profile' item.seeker.pk %}">{{ item.seeker.user.first_name }}
                    {{ item.seeker.user.last_name }} {{ item.seeker.patronimyc }}</a></h4>
                <p class="ml-5">
                    {% if item.position in fav_list %}
                    <svg id="{{ item.pk }}" data-url="{% url 'favorites_ajax' %}" style="color: #007bff;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    {% else %}
                    <svg id="{{ item.pk }}" data-url="{% url 'favorites_ajax' %}" style="color: #007bff;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                    </svg>
                    {% endif %}
                </p>
            </div>
            <p style="font-size: 1.2rem;"><span class="font-weight-bold">Желаемая должность:</span> {{ item.position }}</p>
            <p class="small text-muted mb-0">{{ item.seeker.city }}</p>
            <div class="d-flex mb-0 px-0 justify-content-between col-8 col-sm-7">
                <p class="text-muted mb-0">Возраст: {{ item.seeker.age }}</p>
                <p class="text-muted mb-0">Семейный статус: {{ item.seeker.get_married_display }}</p>
            </div>
            <div class="d-flex pl-0 justify-content-between col-8 col-sm-7">
                <p class="text-muted">тел: {{ item.seeker.tel }}</p>
                <p class="text-muted">email: {{ item.seeker.user.email }}</p>
            </div>
            <p class="h5 mt-3" style="color:black;">Желаемый уровень з/п:
                {% if item.min_salary and item.max_salary %}{{ item.min_salary }} -
                {{ item.max_salary }} {{ item.currency }}
                {% elif item.min_salary %} от {{ item.min_salary }} {{ item.currency }}
                {% elif item.max_salary %} до {{ item.max_salary }} {{ item.currency }}
                {% else %} не указана
                {% endif %}
            </p>
            <p><span class="font-weight-bold">Навыки:</span> {{ item.skills|linebreaks }}</p>
            <hr style="color: #ccc;">
            <p class="mt-3 font-weight-bold mb-0">Образование:</p>
            {% if item.get_education_items %}
            {% for edu_item in item.get_education_items %}
                <p class="mb-0">Название: {{ edu_item.institution_name }}</p>
                <p class="small text-muted mb-0">Тип образования: {{ edu_item.edu_type }} / Квалификация: {{ edu_item.get_degree_display }}</p>
                <p class="mb-0">Даты обучения: {{ edu_item.from_date|date:'d.m.Y' }} - {{ edu_item.to_date|date:'d.m.Y' }}</p>
                <p class="mb-0">Название кафедры/курса: {{ edu_item.course_name }}</p>
                {% if edu_item.edu_description %}<p class="mb-0">Описание: {{ edu_item.edu_description }}</p>{% endif %}
            {% endfor %}
            {% else %}
                <p>образование не указано</p>
            {% endif %}
            <hr style="color: #ccc;">
            <p class="mt-3 font-weight-bold mb-0">Опыт работы:</p>
            {% if item.get_experience_items %}
            {% for exp_item in item.get_experience_items %}
                <p class="mb-0">Название компании: {{ exp_item.company_name }}</p>
                <p class="mb-0">Должность: {{ exp_item.job_title }}</p>
                <p class="mb-0">Период работы: {{ exp_item.start_date|date:'d.m.Y' }} - {% if exp_item.finish_date %}
                    {{ exp_item.finish_date|date:'d.m.Y' }} {% else %} по настоящее время{% endif %}</p>
                {% if exp_item.job_description %}<p>Описание обязанностей: {{ exp_item.job_description }}</p>{% endif %}
            {% endfor %}
            {% else %}
                <p>опыт работы не указан</p>
            {% endif %}
            <p>Дата публикации: {{item.published|date:"d.m.Y" }}</p>
            <div class="d-flex">
                <a class="btn btn-outline-primary mb-5 px-4" role="button"
                   href="{% url 'main' %}">На главную</a>
                <a class="btn btn-outline-primary mb-5 px-4 ml-5" role="button" href="{% url 'employer:send_offer' user.employer.pk item.pk %}">Направить предложение</a>
            </div>
        </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-12">
            <div class="d-flex">
                <h4 style="color: blue;"><a href="{% url 'worker:seeker_profile' item.seeker.pk %}">{{ item.seeker.user.last_name }}
                    {{ item.seeker.user.first_name }} {{ item.seeker.patronimyc }}</a></h4>
                <p class="ml-5">
                    {% if item.position in fav_list %}
                    <svg id="{{ item.pk }}" data-url="{% url 'favorites_ajax' %}" style="color: #007bff;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    {% else %}
                    <svg id="{{ item.pk }}" data-url="{% url 'favorites_ajax' %}" style="color: #007bff;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                    </svg>
                    {% endif %}
                </p>
                <p class="h5 ml-5" style="color:black;">Желаемый уровень з/п:
                    {% if item.min_salary and item.max_salary %}{{ item.min_salary }} -
                    {{ item.max_salary }} {{ item.currency }}
                    {% elif item.min_salary %} от {{ item.min_salary }} {{ item.currency }}
                    {% elif item.max_salary %} до {{ item.max_salary }} {{ item.currency }}
                    {% else %} не указана
                    {% endif %}
                </p>
            </div>
            <p style="font-size: 1.2rem;"><span class="font-weight-bold">Желаемая должность:</span> {{ item.position }}</p>
            <p class="small text-muted mb-0">{{ item.seeker.city }}</p>
            <div class="d-flex pl-0 col-12 col-sm-7 justify-content-between mb-0">
                <p class="text-muted mb-0">Возраст: {{ item.seeker.age }}</p>
                <p class="text-muted mb-0">Семейный статус: {{ item.seeker.get_married_display }}</p>
            </div>
            <div class="d-flex pl-0 col-12 col-sm-7 justify-content-between">
                <p class="text-muted">тел: {{ item.seeker.tel }}</p>
                <p class="text-muted">email: {{ item.seeker.user.email }}</p>
            </div>
            <p><span class="font-weight-bold">Навыки:</span> {{ item.skills|linebreaks }}</p>
            <hr style="color: #ccc;">
            <p class="mt-3 font-weight-bold mb-0">Образование:</p>
            {% if item.get_education_items %}
            {% for edu_item in item.get_education_items %}
                <p class="mb-0">Название: {{ edu_item.institution_name }}</p>
                <p class="small text-muted mb-0">Тип образования: {{ edu_item.edu_type }} / Квалификация: {{ edu_item.get_degree_display }}</p>
                <p class="mb-0">Даты обучения: {{ edu_item.from_date|date:'d.m.Y' }} - {{ edu_item.to_date|date:'d.m.Y' }}</p>
                <p class="mb-0">Название кафедры/курса: {{ edu_item.course_name }}</p>
                {% if edu_item.edu_description %}<p class="mb-0">Описание: {{ edu_item.edu_description }}</p>{% endif %}
            {% endfor %}
            {% else %}
                <p>образование не указано</p>
            {% endif %}
            <hr style="color: #ccc;">
            <p class="mt-3 font-weight-bold mb-0">Опыт работы:</p>
            {% if item.get_experience_items %}
            {% for exp_item in item.get_experience_items %}
                <p class="mb-0">Название компании: {{ exp_item.company_name }}</p>
                <p class="mb-0">Должность: {{ exp_item.job_title }}</p>
                <p class="mb-0">Период работы: {{ exp_item.start_date|date:'d.m.Y' }} - {% if exp_item.finish_date %}
                    {{ exp_item.finish_date|date:'d.m.Y' }} {% else %} по настоящее время{% endif %}</p>
                {% if exp_item.job_description %}<p>Описание обязанностей: {{ exp_item.job_description }}</p>{% endif %}
            {% endfor %}
            {% else %}
                <p>опыт работы не указан</p>
            {% endif %}
            <p>Дата публикации: {{item.published|date:"d.m.Y" }}</p>
            <div class="d-flex">
                <a class="btn btn-outline-primary mb-5 px-4" role="button"
                   href="{% url 'main' %}">На главную</a>
                <a class="btn btn-outline-primary mb-5 px-4 ml-5" role="button" href="{% url 'employer:send_offer' user.employer.pk item.pk %}">Направить предложение</a>
            </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="row">
            <div class="col-12 text-center mt-4 mb-5">
            {% if page_obj.has_previous %}
                <span><a class="h4" href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}&city={{ request.get.city }}&gender={{ request.GET.gender }}&salary={{ request.GET.salary }}&currency={{ request.GET.currency }}&from_date={{ request.GET.from_date }}&till_date={{ request.GET.till_date }}">&laquo</a></span>
            {% endif %}
                <span class="px-3 font-italic font-weight-bold">страница {{ page_obj.number }}
                    из {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <span><a class="h4" href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}&city={{ request.get.city }}&gender={{ request.GET.gender }}&salary={{ request.GET.salary }}&currency={{ request.GET.currency }}&from_date={{ request.GET.from_date }}&till_date={{ request.GET.till_date }}">&raquo</a></span>
            {%endif%}
            </div>
        </div>
    {% else %}
        <p>Поиск не дал результатов. Попробуйте изменить поиск.</p>
        <a class="btn btn-primary" role="button" href="{% url 'main' %}">вернуться к поиску</a>
    {% endif %}
</div>
{% endblock %}