{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center font-italic mb-5">Форма обратной связи</h1>
    <div class="row justify-content-center">
        <div class="col col-sm-6">
            {% if sent %}
            <p class="font-italic h5">Спасибо за ваше обращение. Мы скоро с вами свяжемся.</p>
            {% else %}
            <form class="w-100 contact_form" action="" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<input class="btn btn-primary" type="submit" name="#" id="sub_btn"
                       value="Отправить" style="width:40%;">
			</form>
            {% endif %}
        </div>
        <div class="col col-sm-6">
            <iframe class='w-100' src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8971.370422099419!2d37.5301096!3d55.7959709!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b549c0af2d5e3f%3A0xa77899d557548e3a!2sMail.Ru%20Group!5e0!3m2!1sru!2sru!4v1589671845786!5m2!1sru!2sru" width="" height="300" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>
{% endblock %}